@model ChangePasswordModel

@{
	Layout = T4Routes.Shared.Views._EmptyLayout;
	Title.Add(Views.Title_ChangePassword);
}

@Html.ValidationSummary(true)

@using (Html.BeginForm(T4Routes.Authenticate.ChangePassword(null, (string) ViewBag.ReturnUrl), FormMethod.Post, new {
		@class = "lightbox"
})) {
	@Html.AntiForgeryToken()
	<h2 class="lightbox-heading">@Views.Title_ChangePassword</h2>
	@Html.EditorFor(cp => cp.CurrentPassword)
	@Html.EditorFor(cp => cp.NewPassword)
	@Html.EditorFor(cp => cp.NewPasswordConfirmation)
	<div class="form-actions">
		@Html.Action(T4Routes.Components.Button(Html.Button().Primary.Large.Submit.Text(Views.Commands_ChangePassword)))
		@Html.Action(T4Routes.Components.Anchor(Html.Anchor().Large.Text(Views.Commands_BackToHome).Result(T4Routes.Home.Index())))
	</div>
}