@model ResetPasswordModel

@{
	Layout = T4Routes.Shared.Views._EmptyLayout;
	Title.Add(Views.Title_ResetPassword);
}

@Html.ValidationSummary(true)

@using (Html.BeginForm(T4Routes.Authenticate.ResetPassword((string) ViewBag.ReturnUrl), FormMethod.Post, new {
		@class = "lightbox"
})) {
	@Html.AntiForgeryToken()
	<h2 class="lightbox-heading">@Views.Title_ResetPassword</h2>
	@Html.EditorFor(rp => rp.Email)
	<div class="form-actions">
		@Html.Action(T4Routes.Components.Button(Html.Button().Primary.Large.Submit.Text(Views.Commands_ResetPassword)))
		@Html.Action(T4Routes.Components.Anchor(Html.Anchor().Large.Text(Views.Commands_BackToHome).Result(T4Routes.Home.Index())))
	</div>
}