@model SetPasswordModel

@{
	Layout = T4Routes.Shared.Views._EmptyLayout;
	Title.Add(Views.Title_SetPassword);
}

@Html.ValidationSummary(true)

@using (Html.BeginForm(T4Routes.Authenticate.SetPassword(null, (string) ViewBag.ReturnUrl), FormMethod.Post, new {
		@class = "lightbox"
})) {
	@Html.AntiForgeryToken()
	<h2 class="lightbox-heading">@Views.Title_SetPassword</h2>
	@Html.EditorFor(sp => sp.NewPassword)
	@Html.EditorFor(sp => sp.NewPasswordConfirmation)
	<div class="form-actions">
		@Html.Action(T4Routes.Components.Button(Html.Button().Primary.Large.Submit.Text(Views.Commands_SetPassword)))
		@Html.Action(T4Routes.Components.Anchor(Html.Anchor().Large.Text(Views.Commands_BackToHome).Result(T4Routes.Home.Index())))
	</div>
}